{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> {% block title %} Subscribe {% endblock title %} </title>
</head>
<body>


{% block content %}

<div class="container col-xxl px-4 py-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Go Premium</h5>
                  <ul>
                      <li>Unlimited stuff</li>
                      <li>More unlimited stuff</li>
                      <li>A gold badge</li>
                  </ul>
                  <form action="" method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <input class="btn btn-primary" type="submit" value="Pay 20USD">
                  </form>
                  
                
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}
</body>
</html>