{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Transaction Failed {% endblock title %} </title>
</head>
<body>

{% block content %}
<div class="row justify-content-center align-items-center">
    <div class="card p-4" style="max-width: 540px;">
        
            <div class="p-2">
                Transaction Failed <a href="{% url 'index' %}">Home</a>
            </div>

    </div>
</div>

{% endblock content %}
</body>
</html>